gsr-net.65-21-21-199.sslip.io {
    encode zstd gzip

    handle_path /faucet* {
        reverse_proxy 127.0.0.1:8081
    }

    handle_path /playground* {
        reverse_proxy 127.0.0.1:8082
    }

    handle {
        reverse_proxy 127.0.0.1:8080
    }
}
